/*set  fullscreen*/
html{
    height:100%;
}

body{
    height:100%;
    min-height: 100%;
    position:relative;
}

#layout-content{
      height:100%;
}

#header {
    height:50px;
    width:100%;
    top:0px;
    left:0px;
    background: #CCCCCC;
    position:absolute;
}
#footer {
    height:50px;
    width:100%;
    bottom:0px;
    left:0px;
    background: #CCCCCC;
    position:absolute;
}

#layout-content #scrollableContent {
    height: 100%;
    width: 100%;
    overflow: auto;
}
#layout-content #scrollableContent #paddingContent {
    padding: 20px;
}

.noscript {
    height: 50px;
    background: white;
    color: red;
    text-align: center;
    vertical-align: text-bottom;
}
.noscript .font {
    font-family: 'Oleo Script', cursive;
}

.oleo-label{
    color: rgb(0, 29, 63);
    font-family: 'Oleo Script', cursive;
}



/*heder styles for layout*/
.header-strip{
    background-color:rgb(1, 30, 64);
    min-height:100px
    /*padding:5px;*/
    /*border-bottom:3px solid #428bca;*/
}

.header-strip a, .header-strip {
    color:white;  
    /*padding-right:5px; 
    padding-left:5px;*/ 
    font-weight:600;
    
}

.header-phone{
    margin-top:15%;
    font-size:15px;
}

.header-phone.available {
    font-size: 11px;
    margin: auto;
    color:#097BDC;
}

.header-menu{
    background-color:rgba(1, 30, 64,0.7);
    color:white; 
    font-weight:600;
}
.header-menu a{
    color:white;
    font-weight:600;
}

.menu-icon{
    padding-right:5px;
}

.marginHeaderMenuLinks{
    margin-top:6px;

}
.inline{
    display: inline;
}

.set-to-center{
   float: none;
   margin: 0 auto; 
   display: table; 
   text-align: center; 
}
.social-icon { 
    width: 50px; 
    height: 50px;    
    display: inline-block; 
    margin-right: 10px;    
} 
 
.twitter { 
    background : url(../Images/twitter.png)  no-repeat; 
} 
 
.facebook { 
    background: url(../Images/facebook.png) no-repeat; 
} 

.google{
    background: url(../Images/google.png) no-repeat;
}


.navTextColor{
    color:white;
}

.myContainer{
    max-width:1000px;
}
.navbar-inverse{ 
    border-color: #222222;     
} 

.footer-strip{
    background-color: #222222; 
    padding:5px; 
    color:#428bca; 
    min-height:150px;
    bottom: 0;
    width: 100%;
}

.footer-strip li{     
    list-style-type:none;     
} 
 


.footer-strip a{ 
    color: #999999; 
} 


.notActiveLink{
   pointer-events: none;
   /*cursor: default;*/
}

/*validation error style*/
.field-validation-error{
    color:rgb(255, 106, 85);
    font-size:larger;
}
.validation-summary-errors{
    text-align:left;
    

}
.text-danger{
    color:rgb(242, 188, 181);
}

.validation-summary-errors ul{
    margin-left: 0; 
    padding-left: 0
}

.validation-summary-errors li {
    list-style-type: none;
    margin-left:-10px;
}
/*--------------------------------------*/
/*item view styles*/
.item-view{
   -webkit-box-shadow: 3px 3px 2px 0px rgba(168,159,168,1);
    -moz-box-shadow: 3px 3px 2px 0px rgba(168,159,168,1);
    box-shadow: 3px 3px 2px 0px rgba(168,159,168,1);
    text-align:center;
    vertical-align:central;
}
.item-row{ 
    margin:5px;   
} 
.centered{ 
    text-align:center;
} 
.item-name{ 
    height:65px;
    font-size:small; 
} 
.item-description{ 
    padding:5px;
    height:30px;  
    border-top:solid 1px #dddddd;  
    border-bottom:solid 1px #dddddd 
}

/*.item-view >img {
    height: 100px;
}*/
.photo{
     height: 120px;
     overflow:hidden;
     }
    .photo > img {
        /*max-height: 100%;*/
        /*max-width: 100%;*/
        height: 120px;
    }

.flower{
    /*height:300px;*/
    background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg')  no-repeat;
    /*color:rebeccapurple;*/
}

/*dropdown login menu*/
.login-dp{
    min-width: 200px!important;
    padding: 14px 14px 0px;
    overflow:hidden;
    background-color:rgba(128, 128, 128,.85);
}

.login-dp form{
    padding-left:10px;
    padding-right:10px;
}

.login-dp .help-block{
    font-size:12px;
}

.help-block a{
    color:rgb(209, 233, 251);
}

.login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}.login-dp .social-buttons{
    margin:12px 0
}

.login-dp .form-group {
    margin-bottom: 10px;
}
/**/
.cart{
    font-size:16px;
    margin-top:10%;
    margin-right:auto;
    float:right!important;/*set element at the right hand of column*/
   

}
/*-----Bootstrap redifinition navbar-inverse colors */
/*.btn.btn-square {
    border-radius: 0;
}
.btn .btn-default{
     border-radius: 0;
}

.nav>li>a{
    border-radius:15px;
}*/
.navbar{ 
    border-radius:0; 
    margin-bottom:0; 
} 
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-nav a {
  min-width:140px;
 }

.navbar .navbar-collapse {
  text-align: center;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: rgb(212, 255, 216);
}
.navbar-inverse {
  background-color: rgba(1, 30, 64,0);
  border-color: #0267dd;
  border:0
}
.navbar-inverse .navbar-brand {
  color: #bbdfe8;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #bbdfe8;
}
.navbar-inverse .navbar-text {
  color: #f9f9f9;
}
.navbar-inverse .navbar-nav > li > a {
  color: #f9f9f9;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color:  #bbdfe8;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #f9f9f9;
  background-color: #0267dd;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #f9f9f9;
  background-color: #0267dd;
}
.navbar-inverse .navbar-toggle {
  border-color: #0267dd;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #0267dd;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #bbdfe8;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #bbdfe8;
}
.navbar-inverse .navbar-link {
  color: #bbdfe8;
}
.navbar-inverse .navbar-link:hover {
  color: #f9f9f9;
}
/*rdefinition logo style*/
.logotipe{
    max-height:60%;
    max-width:60%;
    /*margin-left:40px;*/
}

/*------------------media--------------------*/
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #bbdfe8;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f9f9f9;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f9f9f9;
    background-color: #0267dd;
  }
  /*logo*/
  .logotipe{
      max-height:40%;
      max-width:40%;
  }
  
}
/*search form*/
.imaginary_container{
    /*padding:10%*/
    /*margin-top:5%;
    padding:5px;*/
    padding-left:20px;
    padding-right:20px;
    margin-top:5%;
 
    /*margin-top:auto;*/
}

/*jquery autocomplete style*/
/*.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

    .ui-autocomplete .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
    }

  .ui-autocomplete .ui-menu-item > a.ui-corner-all .ui-widget-content .ui-state-focus {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }*/
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    cursor: pointer;
    background: #D6DFF2;
}
  



/*--------------------------------------*/
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/*#search {
    float: right;                              
    margin-top: 9px;
    width: 250px;
}*/

/*.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}*/


