.sorting{
   color:rgb(0, 29, 63);
   background-color:rgb(225, 226, 228);
   margin-top:40px;
}

.catalog-label{
   color:rgb(0, 29, 63);
   font-family:'Oleo Script', cursive;
}
.sorting-label{
    font-weight:bolder;
}
